/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
}
.wrapper {
	width: 940px;
	margin: 0 auto;
}

@font-face {
    font-family: 'Arvo';
    src: url('../css/fonts/arvo'), 
    		 url('../css/fonts/arvo.woff2') format('woff2'), 
    		 url('../css/fonts/arvo.woff') format('woff'), 
    		 url('../css/fonts/arvo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ArvoItalic';
    src: url('../css/fonts/arvoitalic'),
    		 url('../css/fonts/arvoitalic.woff2') format('woff2'), 
    		 url('../css/fonts/arvoitalic.woff') format('woff'), 
    		 url('../css/fonts/arvoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'ArvoBold';
    src: local('../css/fonts/arvobold'), 
    		 url('../css/fonts/arvobold.woff2') format('woff2'), 
    		 url('../css/fonts/arvobold.woff') format('woff'), 
    		 url('../css/fonts/arvobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ArvoBoldItalic';
    src: url('../css/fonts/arvobolditalic'),
    		 url('../css/fonts/arvobolditalic.woff2') format('woff2'), 
    		 url('../css/fonts/arvobolditalic.woff') format('woff'), 
    		 url('../css/fonts/arvobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../css/fonts/OpenSansBold.eot');
    src: url('../css/fonts/OpenSansBold.eot') format('embedded-opentype'),
         url('../css/fonts/OpenSansBold.woff2') format('woff2'),
         url('../css/fonts/OpenSansBold.woff') format('woff'),
         url('../css/fonts/OpenSansBold.ttf') format('truetype'),
         url('../css/fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}

@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('../css/fonts/OpenSansBoldItalic.eot');
    src: url('../css/fonts/OpenSansBoldItalic.eot') format('embedded-opentype'),
         url('../css/fonts/OpenSansBoldItalic.woff2') format('woff2'),
         url('../css/fonts/OpenSansBoldItalic.woff') format('woff'),
         url('../css/fonts/OpenSansBoldItalic.ttf') format('truetype'),
         url('../css/fonts/OpenSansBoldItalic.svg#OpenSansBoldItalic') format('svg');
}

@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('../css/fonts/OpenSansExtraBold.eot');
    src: url('../css/fonts/OpenSansExtraBold.eot') format('embedded-opentype'),
         url('../css/fonts/OpenSansExtraBold.woff2') format('woff2'),
         url('../css/fonts/OpenSansExtraBold.woff') format('woff'),
         url('../css/fonts/OpenSansExtraBold.ttf') format('truetype'),
         url('../css/fonts/OpenSansExtraBold.svg#OpenSansExtraBold') format('svg');
}

@font-face {
    font-family: 'OpenSansExtraBoldItalic';
    src: url('../css/fonts/OpenSansExtraBoldItalic.eot');
    src: url('../css/fonts/OpenSansExtraBoldItalic.eot') format('embedded-opentype'),
         url('../css/fonts/OpenSansExtraBoldItalic.woff2') format('woff2'),
         url('../css/fonts/OpenSansExtraBoldItalic.woff') format('woff'),
         url('../css/fonts/OpenSansExtraBoldItalic.ttf') format('truetype'),
         url('../css/fonts/OpenSansExtraBoldItalic.svg#OpenSansExtraBoldItalic') format('svg');
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../css/fonts/OpenSansItalic.eot');
    src: url('../css/fonts/OpenSansItalic.eot') format('embedded-opentype'),
         url('../css/fonts/OpenSansItalic.woff2') format('woff2'),
         url('../css/fonts/OpenSansItalic.woff') format('woff'),
         url('../css/fonts/OpenSansItalic.ttf') format('truetype'),
         url('../css/fonts/OpenSansItalic.svg#OpenSansItalic') format('svg');
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../css/fonts/OpenSansLight.eot');
    src: url('../css/fonts/OpenSansLight.eot') format('embedded-opentype'),
         url('../css/fonts/OpenSansLight.woff2') format('woff2'),
         url('../css/fonts/OpenSansLight.woff') format('woff'),
         url('../css/fonts/OpenSansLight.ttf') format('truetype'),
         url('../css/fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('../css/fonts/OpenSansLightItalic.eot');
    src: url('../css/fonts/OpenSansLightItalic.eot') format('embedded-opentype'),
         url('../css/fonts/OpenSansLightItalic.woff2') format('woff2'),
         url('../css/fonts/OpenSansLightItalic.woff') format('woff'),
         url('../css/fonts/OpenSansLightItalic.ttf') format('truetype'),
         url('../css/fonts/OpenSansLightItalic.svg#OpenSansLightItalic') format('svg');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../css/fonts/OpenSansRegular.eot');
    src: url('../css/fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('../css/fonts/OpenSansRegular.woff2') format('woff2'),
         url('../css/fonts/OpenSansRegular.woff') format('woff'),
         url('../css/fonts/OpenSansRegular.ttf') format('truetype'),
         url('../css/fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../css/fonts/OpenSansSemibold.eot');
    src: url('../css/fonts/OpenSansSemibold.eot') format('embedded-opentype'),
         url('../css/fonts/OpenSansSemibold.woff2') format('woff2'),
         url('../css/fonts/OpenSansSemibold.woff') format('woff'),
         url('../css/fonts/OpenSansSemibold.ttf') format('truetype'),
         url('../css/fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}

@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('../css/fonts/OpenSansSemiboldItalic.eot');
    src: url('../css/fonts/OpenSansSemiboldItalic.eot') format('embedded-opentype'),
         url('../css/fonts/OpenSansSemiboldItalic.woff2') format('woff2'),
         url('../css/fonts/OpenSansSemiboldItalic.woff') format('woff'),
         url('../css/fonts/OpenSansSemiboldItalic.ttf') format('truetype'),
         url('../css/fonts/OpenSansSemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 687px;
	background: url(../images/bg_head.jpg) center top no-repeat;
}

#header .wrapper h1 {
	font-family: ArvoBold, sans-serif;
	font-size: 72px;
	color: #fff;
	text-align: center;
	padding-top: 65px;
	padding-bottom: 25px;
	text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

#header .wrapper h1 span {
	font-size: 80px;
	color: #f37021;
	margin-top: -5px;
}

#header .wrapper .slogan {
	padding: 15px;
	background: url(../images/bg_slog.png);
	width: 711px;
	margin: 30px auto 0;
	font-size: 23px;
	font-family: Arvo, sans-serif;
	text-align: center;
}

#header .wrapper .player {
	width: 731px;
	margin: 40px auto 0;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
}

.review {
	background-color: #f1f1f1;
}

.review .wrapper {
	width: 930px;
	margin: 0 auto;
	padding: 50px 0;
}

.review .rev-l {
	padding: 10px 20px 0 0;
	float: left;
}

.review .rev-r {
	background: url(../images/bg_review.png) no-repeat;
	width: 728px;
	height: 156px;
	float: right;
	padding-top: 25px;
	padding-left: 40px;
}

.review:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.review .rev-r .author {
	color: #f37021;
	font-family: ArvoBold, sans-serif;
	font-size: 14px;
}

.review .rev-r .author span {
	font-family: Arvo, sans-serif;
}

.review .rev-r .opisan {
	font-family: OpenSansRegular, sans-serif;
	font-size: 13px;
}

.review .rev-r .razg {
	font-family: OpenSansItalic, sans-serif;
	font-size: 14px;
	display: block;
	overflow: hidden;
}

.fransh {
	background: url(../images/bg_fransh.jpg) center top no-repeat;
}

.fransh h1 {
	text-align: center;
	padding-top: 65px;
	padding-bottom: 65px;
	font-family: ArvoBold, sans-serif;
	font-size: 29px;
}

.fransh .img_fr {
	background: url(../images/fransh.png) no-repeat;
	width: 940px;
	height: 953px;
	margin: 0 auto;
	padding-bottom: 70px;
}

.program {
	margin-bottom: 60px;
}

.program h1 {
	text-transform: uppercase;
	font-family: ArvoBold, sans-serif;
	font-size: 29px;
	text-align: center;
}

.program .week {
	width: 170px;
	height: 40px;
	margin: 45px auto 30px;
	padding-left: 20px;
	padding-top: 10px;

	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #000000;
}

.program .week .calend {
	background: url(../images/calend.png) no-repeat;
	height: 29px;
	padding-left: 45px;
	float: left;
}

.program .week .calend h4 {
	font-family: Arvo, sans-serif;
	font-size: 20px;
	padding-top: 7px;
}

.table .tg {
	width: 940px; 
	border: 0;
	margin-bottom: 45px;
}

.table .tg {
	border-collapse:collapse;
	border-spacing:0;
}

.table .tg td {
	font-family: OpenSansRegular, sans-serif;
	font-size: 15px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	color: #000;
	border-bottom-color: #f2f2f2;
	border-left-color: #f2f2f2; 
	border-right-color: #f2f2f2;
}

.table .tg th {
	font-family: Arvo, sans-serif;
	font-size: 17px;
	font-weight: normal;
	padding: 14px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	color: #fff;
	border-left-color: #f3f3f3;
	border-bottom-color: #f3f3f3;
}

.table .tg .tg-sq9r{background-color:#f3f3f3;text-align:center;vertical-align:middle;font-family:ArvoBold;font-size:17px;width:45px;}
.table .tg .tg-ww3l{background-color:#f37021;text-align:center;vertical-align:middle;width:47%;}
.table .tg .tg-6z0f{background-color:#f3f3f3;vertical-align:middle}
.table .tg .tg-vnh2{background-color:#099260;text-align:center;vertical-align:middle;width:46%;}
.table .tg .tg-yw4l{vertical-align: middle; padding-top: 27px;}

.table p {
	font-family: OpenSansRegular, sans-serif;
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 6px;
}

.sprite {
  background-image: url(../images/prog1.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-0 {
	width: 30px;
	height: 32px;
	background-position: -165px -40px;
	float: left;
  margin-left: 15px;
  margin-top: -9px;
  margin-bottom: 7px;
  margin-right: 19px;
}

.sprite-1 {
  width: 30px;
  height: 32px;
  background-position: -5px -5px;
  float: left;
  margin-left: 15px;
  margin-top: -9px;
  margin-bottom: 7px;
  margin-right: 17px;
}

.sprite-10 {
  width: 30px;
  height: 32px;
  background-position: -45px -5px;
  float: left;
  margin-left: 15px;
  margin-top: -9px;
  margin-bottom: 7px;
  margin-right: 17px;
}

.sprite-11 {
  width: 28px;
  height: 28px;
  background-position: -85px -5px;
  float: left;
  margin-left: 15px;
  margin-top: -5px;
  margin-bottom: 7px;
  margin-right: 17px;
}

.sprite-12 {
  width: 30px;
  height: 32px;
  background-position: -123px -5px;
  float: left;
  margin-left: 15px;
  margin-top: -9px;
  margin-bottom: 7px;
  margin-right: 17px;
}

.sprite-13 {
  width: 32px;
  height: 32px;
  background-position: -5px -47px;
  float: left;
  margin-left: 15px;
  margin-top: -9px;
  margin-bottom: 7px;
  margin-right: 17px;
}

.sprite-14 {
  width: 32px;
  height: 32px;
  background-position: -47px -47px;
  float: left;
  margin-left: 15px;
  margin-top: -9px;
  margin-bottom: 7px;
  margin-right: 17px;
}

.sprite-15 {
  width: 32px;
  height: 24px;
  background-position: -89px -47px;
  float: left;
  margin-left: 15px;
  margin-top: 6px;
  margin-bottom: 7px;
  margin-right: 17px;
}

.sprite-2 {
  width: 32px;
  height: 32px;
  background-position: -89px -81px;
  float: left;
  margin-left: 15px;
  margin-top: -9px;
  margin-bottom: 7px;
  margin-right: 17px;
}

.sprite-3 {
  width: 32px;
  height: 32px;
  background-position: -163px -5px;
  float: left;
  margin-left: 15px;
  margin-top: -9px;
  margin-bottom: 7px;
  margin-right: 17px;
}

.sprite-4 {
  width: 32px;
  height: 30px;
  background-position: -131px -47px;
  float: left;
  margin-left: 15px;
  margin-top: -9px;
  margin-bottom: 7px;
  margin-right: 17px;
}

.sprite-5 {
  width: 32px;
  height: 30px;
  background-position: -131px -87px;
  float: left;
  margin-left: 15px;
  margin-top: 2px;
  margin-bottom: 7px;
  margin-right: 17px;
}

.sprite-6 {
  width: 32px;
  height: 32px;
  background-position: -5px -127px;
  float: left;
  margin-left: 15px;
  margin-top: -9px;
  margin-bottom: 7px;
  margin-right: 17px;
}

.sprite-7 {
  width: 32px;
  height: 24px;
  background-position: -47px -127px;
  float: left;
  margin-left: 15px;
  margin-top: -9px;
  margin-bottom: 7px;
  margin-right: 17px;
}

.sprite-8 {
  width: 32px;
  height: 30px;
  background-position: -89px -127px;
  float: left;
  margin-left: 15px;
  margin-top: -9px;
  margin-bottom: 7px;
  margin-right: 17px;
}

.sprite-9 {
  width: 26px;
  height: 32px;
  background-position: -131px -127px;
  float: left;
  margin-left: 15px;
  margin-top: -9px;
  margin-bottom: 7px;
  margin-right: 17px;
}

.program .btn {
	background: url(../images/btn.png) no-repeat;
	background-position: 0px 0px;
	width: 379px;
	height: 71px;
	display: block;
	margin: 60px auto 0;
	text-indent: -9999px;
	cursor: pointer;
}

.program .btn:hover {
	background-position: 0px -71px;
}

.rezult .wrapper {
	padding-top: 55px;
	padding-bottom: 55px;
}

.rezult h4 {
	font-family: OpenSansBold, sans-serif;
	font-size: 17px;
	padding: 15px 0;
}

.rezult p {
	font-family: OpenSansRegular, sans-serif;
	font-size: 16px;
	padding-bottom: 15px;
	line-height: 24px;
}

.rezult .img {
	width: 903px;
	margin: 20px auto;
}

.rezult h3 {
	font-family: Arvo, sans-serif;
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 50px;
}

.rezult h3 span {
	color: #f37021;
	font-size: 22px;
}

.rezult h3 .bold {
	font-family: ArvoBold, sans-serif;
}

.rezult h4 {
	font-family: Arvo, sans-serif;
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 50px;
}

.rezult h4 span {
	color: #f37021;
	font-size: 20px;
}

.rezult .tg {width:940px;}
.rezult .tg  {border-collapse:collapse;border-spacing:0;}
.rezult .tg td{font-family:OpenSansRegular, sans-serif;font-size:15px;padding:10px 5px;overflow:hidden;word-break:normal;padding-left: 16px;}
.rezult .tg th{padding:2px 5px;overflow:hidden;}
.rezult .tg .tg-0l1d{background-color:#f6f6f6}
.rezult .tg .tg-0qjz{background-color:#f6f6f6}
.rezult .tg .tg-lmqs{background-color:#f37021}
.rezult .tg .tg-bsv2{background-color:#efefef}

.calc-info {
	padding: 50px 0;
}

.calc-info h3 {
	font-family: OpenSansBold, sans-serif;
	font-size: 17px;
	padding-bottom: 40px;
	text-align: center;
}

.calc-info p,
.obzor p {
	font-family: OpenSansRegular, sans-serif;
	font-size: 16px;
	padding-bottom: 15px;
	line-height: 24px;
}

.calc {
	background: url(../images/bg_calc.jpg) center top no-repeat;
	height: 727px;
	padding-top: 50px;
}

.calc .numbers {
	width: 750px;
	margin: 0 auto;
}

.calc .numbers:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.calc .left-numbers {
	font-family: Arvo, sans-serif;
	font-size: 18px;
	color: #fff;
	width: 295px;
	text-align: center;
	line-height: 24px;
	float: left;
}

.calc .right-numbers {
	font-family: Arvo, sans-serif;
	font-size: 18px;
	color: #fff;
	width: 320px;
	text-align: center;
	line-height: 24px;
	float: right;
}

.calc .sprite {
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  display: block;
}

.calc .sprite-1 {
  width: 42px;
  height: 105px;
  background-position: -5px -5px;
  position: absolute;
}

.calc .sprite-2 {
  width: 41px;
  height: 105px;
  background-position: -57px -5px;
  float: right;
}

.back_input_1 {
	background: url(../images/bg_input.png) no-repeat;
	width: 255px;
	height: 63px;
	border: 0;
	margin-top: 50px;
	margin-left: 70px;
	padding-left: 15px;
	font-family: Arvo, sans-serif;
	font-size: 22px;
}

.back_input_2 {
	background: url(../images/bg_input.png) no-repeat;
	width: 255px;
	height: 63px;
	border: 0;
	margin-top: 50px;
	margin-left: -145px;
	position: absolute;
	padding-left: 15px;
	font-family: Arvo, sans-serif;
	font-size: 22px;
}

.calc .answer {
	margin: 25px auto;
	width: 392px;
	height: 205px;

	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #a2a6aa;
}

.calc .answer .answ {
	text-align: center;
}

.calc .btn_prib {
	background: url(../images/btn_prib.png) no-repeat;
	width: 316px;
	height: 66px;
	display: block;
	margin: 24px auto 0;
	text-indent: -9999px;
	cursor: pointer;	
}

.back_input_3 {
	background: url(../images/bg_input_3.png) no-repeat;
	width: 299px;
	height: 63px;
	border: 0;
	margin-top: 25px;
	padding-left: 15px;
	font-family: Arvo, sans-serif;
	font-size: 22px;
}

.answer-bottom {
	width: 720px;
	margin: 0 auto;
	height: 202px;
}

.answer-bottom .answer-bottom-1 {
	background: url(../images/answ_bottom.png) no-repeat;
	width: 202px;
	height: 202px;
	float: left;
	margin-right: 55px;
}

.answer-bottom .answer-bottom-2 {
	background: url(../images/answ_bottom.png) no-repeat;
	width: 202px;
	height: 202px;
	float: left;
	margin-right: 55px;
}

.answer-bottom .answer-bottom-3 {
	background: url(../images/answ_bottom.png) no-repeat;
	width: 202px;
	height: 202px;
	float: left;
}

.answer-bottom h3 {
	font-family: Arvo, sans-serif;
	font-size: 16px;
	color: #fff;
	text-align: center;
	padding-top: 24px;
}

.obzor {
	padding-bottom: 30px;
}

.obzor .btn {
	background: url(../images/btn.png) no-repeat;
	background-position: 0px 0px;
	width: 379px;
	height: 71px;
	display: block;
	margin: 50px auto 0;
	text-indent: -9999px;
	cursor: pointer;
}

.obzor .btn:hover {
	background-position: 0px -71px;
}

.obzor h2,
.howto h2,
.offer h2,
.whois h2,
.qa h2 {
	font-family: ArvoBold, sans-serif;
	font-size: 29px;
	text-align: center;
	padding-top: 50px;
}

.obzor .player {
	background: url(../images/bg_player.jpg) no-repeat;
	width: 763px;
	height: 442px;
	padding: 21px;
	margin: 30px auto 0;
}

.howto {
	background: url(../images/bg_rezult.jpg) center top no-repeat;
	height: 595px;
}

.howto .img {
	background: url(../images/bg_howto.png);
	width: 941px;
	height: 424px;
	margin: 50px auto 0;
}

.offer {
	padding-bottom: 60px;
}

.offer h2 {
	padding-bottom: 50px;
}

.offer h3 {
	font-family: OpenSansBold, sans-serif;
	font-size: 16px;
	text-align: center;
	padding: 40px 0;
}

.offer p {
	font-family: OpenSansRegular, sans-serif;
	font-size: 16px;
	padding-bottom: 15px;
	line-height: 24px;	
}

.offer p.center {
	text-align: center;
	padding-bottom: 40px;
}

.offer p span {
	font-family: OpenSansBold, sans-serif;
}

.offer1 {
	background: url(../images/bg_offer.png) no-repeat;
	width: 940px;
	height: 424px;
	margin: 0 auto 15px;
}

.offer .offer1 h3 {
	color: #f37021;
	font-size: #f37021;
	font-family: ArvoBold, sans-serif;
	font-size: 18px;
	text-align: left;
	padding-left: 30px;
}

.offer1 .offer1-left {
	margin-left: 10px;
}

.offer .sprite {
    background-image: url(../images/offer.png);
    background-repeat: no-repeat;
    display: block;
}

.offer .sprite-1 {
    width: 91px;
    height: 91px;
    background-position: -5px -5px;
}

.offer .sprite-2 {
    width: 91px;
    height: 91px;
    background-position: -106px -5px;
}

.offer .sprite-3 {
    width: 90px;
    height: 91px;
    background-position: -5px -106px;
}

.offer1 .offer1-big p {
	font-size: 15px;
	line-height: 20px;
	padding-bottom: 5px;
}

.offer1 .offer1-big p span {
	font-family: OpenSansBold, sans-serif;
}

.offer1-right {
	float: left;
	margin-top: -8px;
}

.offer .number {
    background-image: url(../images/offer_num.png);
    background-repeat: no-repeat;
    display: block;
}

.numer {
	position: relative;
    float: right;
    margin-top: -70px;
    margin-right: 40px;
}

.offer1 .number-1 {
    width: 63px;
    height: 64px;
    background-position: -5px -5px;
}

.number-2 {
    width: 63px;
    height: 64px;
    background-position: -78px -5px;
}

.number-3 {
    width: 63px;
    height: 64px;
    background-position: -5px -79px;
}

.offer .tg  {border-collapse:collapse;border-spacing:0;width:900px;margin: 0 auto 10px;}
.offer .tg td{font-family:OpenSansRegular, sans-serif;font-size:11px;padding:10px 5px;overflow:hidden;word-break:normal;text-align: center;}
.offer .tg th{font-family:OpenSansRegular, sans-serif;font-size:11px;padding:10px 5px;overflow:hidden;word-break:normal;color: #fff;vertical-align:middle;}
.offer .tg .tg-5tyl{background-color:#f36c23;vertical-align:middle;}
.offer .tg .tg-n4yg{background-color:#f6f6f6;vertical-align:middle;}
.offer .tg .tg-cxkv{background-color:#ffffff}
.offer .tg .tg-0qjz{background-color:#f6f6f6}
.offer .tg .tg-lk3e{background-color:#f36c23}
.offer .tg .tg-5yxd{background-color:#f47922;width:55px;}
.offer .tg .tg-drqg{background-color:#f47922;vertical-align:middle;}
.offer .tg .tg-3we0{background-color:#ffffff;vertical-align:middle;}

.offer h4 {
	font-family: OpenSansBold, sans-serif;
	font-size: 18px;
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom: 10px;
}

.offer p {
	padding-left: 30px;
}

.whois {
	background: url(../images/bg_what.jpg) center top no-repeat;
	height: 1098px;
}

.valeev {
	background: url(../images/valeev.png) center top no-repeat;
	height: 453px;
	margin-top: 45px;
}

.valeev-info {
	width: 615px;
	padding-top: 120px;
	padding-left: 320px;
}

.valeev-info h3 {
	font-family: ArvoBold, sans-serif;
	font-size: 20px;
}

.valeev-info .tg .tg-lmqs1{background-color:#f37021; width: 615px; height: 3px;}

.valeev-info p {
	font-family: OpenSansRegular, sans-serif;
	font-size: 16px;
	padding-bottom: 8px;
	line-height: 24px;	
}

.mayorov {
	background: url(../images/mayorov.png) center top no-repeat;
	height: 498px;
	margin-top: 45px;
}

.mayorov-info {
	width: 615px;
	padding-top: 140px;
}

.mayorov-info h3 {
	font-family: ArvoBold, sans-serif;
	font-size: 20px;
}

.mayorov-info .tg .tg-lmqs1{background-color:#f37021; width: 615px; height: 3px;}

.mayorov-info p {
	font-family: OpenSansRegular, sans-serif;
	font-size: 16px;
	padding-bottom: 8px;
	line-height: 24px;	
}

.dontwork {
	background: url(../images/bg_dont.jpg) center top no-repeat;
	height: 439px;
}

.dontwork h2 {
	font-family: ArvoBold, sans-serif;
	font-size: 29px;
	color: #fff;
	text-align: center;
	padding: 50px 0;
}

.dontwork h3 {
	font-family: OpenSansBoldItalic, sans-serif;
	font-size: 17px;
	color: #f37021;
	padding: 30px 0 0 50px;
}

.dontwork ul {
	font-family: OpenSansRegular, sans-serif;
	font-size: 16px;
	color: #fff;
	line-height: 24px;
	padding: 0;
	margin: 0;
}

.dontwork li.b1 {
	background-image: url(../images/bullet1.png);
  background-repeat: no-repeat;
  padding-top: 9px;
  padding-bottom: 15px;
  padding-left: 45px;
}

.dontwork li.b2 {
	background-image: url(../images/bullet2.png);
  background-repeat: no-repeat;
  padding-top: 9px;
  padding-bottom: 15px;
  padding-left: 45px;
}

.dontwork li.b3 {
	background-image: url(../images/bullet3.png);
  background-repeat: no-repeat;
  padding-top: 9px;
  padding-bottom: 15px;
  padding-left: 45px;
}

.dontwork li.b4 {
	background-image: url(../images/bullet4.png);
  background-repeat: no-repeat;
  padding-top: 9px;
  padding-bottom: 15px;
  padding-left: 45px;
}

.howstart {

}

.howstart h2 {
	font-family: ArvoBold, sans-serif;
	font-size: 29px;
	text-align: center;
	padding-top: 50px;
	line-height: 36px;
}

.howstart h3 {
	font-family: OpenSansRegular, sans-serif;
	font-size: 24px;
	text-align: center;
	padding-bottom: 45px;
}

.howstart h3 span {
	font-family: OpenSansBold, sans-serif;
}

.howstart .vector {
	background: url(../images/bg_vector.jpg) no-repeat;
	width: 731px;
	height: 60px;
	margin: 40px auto 10px;
}

.howstart .vector {
	color: #fff;
	font-family: OpenSansRegular, sans-serif;
	font-size: 25px;
	text-align: center;
	padding-top: 27px;
}

.howstart .vector span {
	font-family: OpenSansBold, sans-serif;
	font-size: 35px;
}

.howstart p {
	font-family: OpenSansRegular, sans-serif;
	font-size: 16px;
	padding-bottom: 15px;
	line-height: 24px;
}

.howstart h4 {
	font-family: Arvo, sans-serif;
	font-size: 29px;
	text-align: center;
	padding: 34px 0;
}

.qa {
	background-color: #f1f1f1;
}

.source {
	margin: 50px auto 0;
	padding: 40px;
}

.view-source {
	padding-bottom: 7px;
}

.view-source .bullett {
	background: url(../images/down.png) no-repeat;
	width: 13px;
	height: 13px;
}

.view-source a {
	font-family: OpenSansBold, sans-serif;
	font-size: 18px;
	color: #f37021;
	text-decoration: underline;
}

.hide {
	font-family: OpenSansRegular, sans-serif;
	font-size: 14px;
	padding-top: 7px;
	padding-bottom: 8px;
}

.prefooter {
	background: url(../images/bg_footer.jpg) center top no-repeat;
	height: 109px;
	padding-top: 43px;
}

.prefooter .btn {
	background: url(../images/btn.png) no-repeat;
	background-position: 0px 0px;
	width: 379px;
	height: 71px;
	display: block;
	margin: 0 auto;
	text-indent: -9999px;
	cursor: pointer;
}

.prefooter .btn:hover {
	background-position: 0px -71px;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	padding-top: 30px;
}

#footer:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

#footer-left {
    float: left;
    font-size: 12px;
    font-family: OpenSansRegular, sans-serif;
    margin-bottom: 5px;
}

#footer-left p {
    font-size: 12px;
    font-family: OpenSansRegular, sans-serif;
    margin-bottom: 5px;
}

#footer-right {
    float: right;
    width: 144px;
    height: 34px;
}